@charset "utf-8";
/* CSS layout */

/* 默认样式 */
body,div,ul,li,span,img,input,form{ margin:0; padding:0; font-family: arial,sans-serif;}
body,p,h1,h2,h3,h4,h5,h6,ul,b,ol,dl,li,dd{font-family:'微软雅黑'; margin:0; font-weight:normal;}
ul,ol,{padding:0;font-family:'微软雅黑';}

body{ font-size:12px; font-family:Tahoma,Helvetica,arial,sans-serif;}
a{ text-decoration:none; color:#666; }
i,em{ font-style:normal;}
li{ list-style:none; }
img{ border:none 0;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}


/* 浮动公共样式 */
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}

.cf:before{  content:''; height:115px;
	background:#f9f9f9;
	position:absolute;
	width:100%;}
.cf{ zoom:1;}


 