@charset "utf-8";
	img {
	vertical-align:top;
}
.header {
	}.header .head {
	height:30px;
	border-top:1px solid #eee;
	border-bottom:1px solid #ddd;
	background:#f9f9f9;
}
.head .head-box {
	width:980px;
	margin:0 auto;
	line-height:30px;
}
.head .head-box .left-box {
	padding-left:17px;
}
.head .head-box .left-box a {
	color:#666;
	position:relative;
	margin-right:15px;
	float:left;
}
.head .head-box .left-box .login {
	color:#f76120;
}
.head .head-box .left-box a span {
	width:13px;
	height:13px;
	background:url(../img/png11.png) no-repeat 0 0;
	position:absolute;
	top:9px;
	left:-17px;
}
.head .head-box .left-box .zc {
	height:15px;
	margin-top:8px;
	line-height:100%;
	border-right:1px solid #eee;
	padding-right:11px;
}
.head .head-box .left-box .sj {
	padding-left:16px;
	width:70px;
}
.head .head-box .left-box .sj .erwei {
	display:none;
	border:1px solid #ddd;
	border-top:none;
	position:absolute;
	top:30px;
	left:-1px;
	background:#fff;
	z-index:1;
}
.head .head-box .left-box .sj .erwei p {
	width:165px;
	height:132px;
	background:url(../img/png29.png) no-repeat center 30px;
	border-bottom:1px dotted #eee;
}
.head .head-box .left-box .sj:hover b {
	width:6px;
	height:3px;
	background:url(../img/png02-2.png) no-repeat 0 0;
	position:absolute;
	top:14px;
	right:6px;
}
.head .head-box .left-box .sj .erwei p em {
	border-left:2px solid #2bb8aa;
	padding-left:5px;
	margin-left:10px;
	line-height:100%;
}
.head .head-box .left-box a i {
	width:8px;
	height:12px;
	background:url(../img/png12.png) no-repeat 0 0;
	position:absolute;
	top:9px;
	left:0px;
}
.head .head-box .left-box a b {
	width:6px;
	height:3px;
	background:url(../img/png02.png) no-repeat 0 0;
	position:absolute;
	top:14px;
	right:6px;
}
.head .head-box .right li {
	float:left;
	padding-right:22px;
	padding-left:12px;
	position:relative;
}
.head .head-box .right li b {
	width:6px;
	height:3px;
	background:url(../img/png02.png) no-repeat 0 0;
	position:absolute;
	top:14px;
	right:9px;
}
.head .head-box .right li span {
	height:12px;
	border:1px solid #eee;
	position:absolute;
	top:8px;
	right:-1px;
}
.head .head-box .right .li1 {
	padding-right:10px;
}
.head .head-box .right li a em {
	color:#f86177;
	padding:0 2px;
	font-family:'楷体';
	font-size:14px;
}
.head .head-box .right li .buycar {
	width:200px;
	height:80px;
	border:1px solid #eee;
	position:absolute;
	.:0;
	top:30px;
	right:0;
	z-index:1;
	background:#fff;
	border-top:none;
	display:none;
	text-align:center;
	line-height:80px;
	font-size:12px;
}
.head .head-box .right li i {
	width:11px;
	height:10px;
	background:url(../img/png01.png) no-repeat 0 0;
	position:absolute;
	top:10px;
	left:13px;
}
.head .head-box .right li a:hover {
	color:#2bb8aa;
}
.head .head-box .right .li2 {
	padding-left:22px;
}
.head .head-box .right li .mymt {
	width:82px;
	position:absolute;
	top:30px;
	right:-1px;
	border:1px solid #ddd;
	background:#fff;
	z-index:1;
	text-align:center;
	display:none;
	border-top:none;
}
.head .head-box .right li .mymt li {
	padding:0;
	float:none;
}
.head .head-box .right li .mymt li:hover {
	background:#f9f9f9;
}
.head .head-box .right li:hover b {
	width:6px;
	height:3px;
	background:url(../img/png02-2.png) no-repeat 0 0;
	position:absolute;
	top:14px;
	right:9px;
}
.header .head-con {
	width:980px;
	margin:0 auto;
}
.head-con .banner {
	height:60px;
	background:url(../img/pic01.jpg) no-repeat 0 0;
	position:relative;
}
.head-con .banner p {
	cursor:pointer;
	width:10px;
	height:10px;
	position:absolute;
	top:8px;
	right:9px;
}
.head-con .con {
	height:84px;
	margin-top:21px;
}
.head-con .con .con-l {
	margin-right:93px;
}
.head-con .con .con-l h1 {
	width:82px;
	height:54px;
	background:url(../img/png03.png) no-repeat 0 0;
	margin-right:10px;
	text-indent:-999em;
}
.head-con .con .con-l .address {
	}.head-con .con .con-l .address h2 {
	font-size:17px;
	font-family:'宋体';
	font-weight:bold;
	line-height:30px;
}
.head-con .con .con-l .address p {
	width:58px;
	height:19px;
	border:1px solid #eee;
	text-align:center;
	line-height:19px;
}
.head-con .con .con-l .address p a {
	color:#999;
}
.head-con .con .con-c {
	}.head-con .con .con-c .con-c-top {
	}.head-con .con .con-c .con-c-top .con-c-left {
	width:421px;
	height:38px;
	border:2px solid #2db8ad;
}
.head-con .con .con-c .con-c-top .con-c-left .teambuy {
	width:62px;
	height:38px;
	border-right:1px solid #ddd;
	font-size:14px;
	text-align:center;
	line-height:38px;
	float:left;
	position:relative;
}
.head-con .con .con-c .con-c-top .con-c-left .teambuy span {
	width:6px;
	height:3px;
	background:url(../img/png02.png) no-repeat 0 0;
	position:absolute;
	top:15px;
	right:5px;
}
.head-con .con .con-c .con-c-top .con-c-left input {
	width:353px;
	height:38px;
	padding-left:5px;
	color:#757575;
	font-size:14px;
}
.head-con .con .con-c .con-c-top .seach {
	width:63px;
	height:42px;
	background:#2db8ad;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:42px;
}
.head-con .con .con-c .con-c-top .seach:hover {
	background:#2ec5b6;
}
.head-con .con .con-c ul {
	padding-top:14px;
}
.head-con .con .con-c ul li {
	float:left;
	padding-right:21px;
}
.head-con .con .con-c ul li:hover a {
	color:#2bb8aa;
}
.head-con .con .con-r {
	padding-top:9px;
}
.head-con .con .con-r p {
	padding-left:20px;
	float:left;
	position:relative;
	padding-top:27px;
}
.head-con .con .con-r p span {
	width:23px;
	height:23px;
	background:url(../img/png04.png) no-repeat 0 0;
	position:absolute;
	top:0;
	left:24px;
}
.head-con .con .con-r p b {
	width:23px;
	height:23px;
	background:url(../img/png05.png) no-repeat 0 0;
	position:absolute;
	top:0;
	left:38px;
}
.head-con .con .con-r p i {
	width:24px;
	height:22px;
	background:url(../img/png06.png) no-repeat 0 0;
	position:absolute;
	top:0;
	left:24px;
}
.head-foot {
	width:980px;
	margin:0 auto;
}
.head-foot .top-nav {
	height:40px;
}
.head-foot .top-nav .left-nav {
	width:231px;
	background:#00b195;
	height:28px;
	padding-top:12px;
	padding-left:15px;
	position:relative;
}
.head-foot .top-nav .left-nav a {
	color:#fff;
	font-size:15px;
}
.head-foot .top-nav .left-nav span {
	width:18px;
	height:11px;
	background:url(../img/png28.png) no-repeat 0 0;
	position:absolute;
	top:13px;
	right:22px;
}
.head-foot .top-nav .show span {
	background:url(../img/png28-2.png) no-repeat 0 0;
}
.head-foot .top-nav .right-nav {
	width:734px;
	height:40px;
	background:#2bb8aa;
}
.head-foot .top-nav .right-nav ul li {
	padding-left:27px;
	padding-right:19px;
	float:left;
	font-size:16px;
	font-weight:bold;
	line-height:40px;
	font-family:'宋体';
}
.head-foot .top-nav .right-nav ul li a {
	color:#fff;
}
.head-foot .top-nav .right-nav ul li:hover {
	background:#2ec5b6;
}
.head-foot .bottom-nav {
	position:relative;
}
.head-foot .bottom-nav .left-nav {
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	width:244px;
	border:1px solid #eee;
	border-top:none;
	background:#fafafa;
}
.head-foot .bottom-nav .left-nav ul {
	}.head-foot .bottom-nav .left-nav ul li {
	padding:0 10px;
	height:52px;
	line-height:52px;
	position:relative;
}
.head-foot .bottom-nav .left-nav ul li.on {
	background:#fff;
}
.head-foot .bottom-nav .left-nav ul li div {
	border-bottom:1px solid #eee;
}
.head-foot .bottom-nav .left-nav ul li div .p1 {
	font-size:14px;
	float:left;
}
.head-foot .bottom-nav .left-nav ul li div .p1 a {
	color:#000;
	font-weight:bold;
	padding-left:5px;
}
.head-foot .bottom-nav .left-nav ul li div .p2 {
	float:right;
	padding-right:19px;
}
.head-foot .bottom-nav .left-nav ul li div .p2 a {
	color:#999;
	padding-left:7px;
}
.head-foot .bottom-nav .left-nav ul li span {
	width:7px;
	height:12px;
	background:url(../img/png13.png) no-repeat 0 0;
	position:absolute;
	top:20px;
	right:14px;
}
.head-foot .bottom-nav .left-nav ul li b {
	width:30px;
	height:51px;
	background:#fff;
	position:absolute;
	top:1px;
	right:-8px;
	display:none;
}
.head-foot .bottom-nav .left-nav ul li b.on {
	display:block;
}
.sidebar {
	position:absolute;
	z-index:2;
}
.side1 {
	width:284px;
	height:468px;
	border-right:1px solid #bdbdc7;
	border-bottom:1px solid #bdbdc7;
	padding-left:20px;
	background:#fff;
	position:absolute;
	top:0;
	left:246px;
}
.side1 h2 {
	font-size:18px;
	padding-top:20px;
	float:left;
	padding-right:70px;
	color:#333;
}
.side1 ul {
	padding-top:25px;
	float:left;
	padding-right:40px;
}
.side1 ul li {
	line-height:24px;
}
.side2 {
	width:150px;
	height:468px;
	border-right:1px solid #bdbdc7;
	border-bottom:1px solid #bdbdc7;
	padding-left:20px;
	background:#fff;
	position:absolute;
	top:0;
	left:246px;
}
.side2 h2 {
	font-size:18px;
	padding-top:20px;
	color:#333;
}
.side2 ul {
	padding-top:25px;
	float:left;
}
.side2 ul li {
	line-height:24px;
}
.side3 h2 {
	padding-right:90px;
}
.side3 ul {
	padding-right:94px;
}
.content {
	min-width:500px;
}
.content .conbox {
	width:980px;
	margin:0 auto;
	padding:10px 0 65px;
}
.conbox .bread-nav {
	margin:0 0 10px;
	position:relative;
	z-index:1;
}
.conbox .summary {
	position:relative;
	height:84px;
	padding:12px 10px 17px 35px;
	margin-bottom:20px;
	background-color:#fff;
	box-shadow:0 2px 2px 0 #f7f7f7;
	border:1px solid #eee;
	margin:0 0 10px;
}
.summary .address {
	float:left;
	width:500px;
	height:100%;
	line-height:24px
}
.summary  h2 {
	font-size:22px;
	line-height:36px
}
.summary  h2 .title {
	display:inline-block;
	vertical-align:middle;
	max-width:390;
	white-space:nowrap;
}
.summary .branch-link {
	line-height:1.6;
	padding:0 5px;
	border:1px solid #ddd;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	margin-left:.5em;
	font-weight:400;
	font-size:12px;
	padding-right:14px;
}
.branch-link i {
	width:8px;
	height:4px;
	background:url(../img/png34.png) no-repeat 0 0;
	position:absolute;
	top:5px;
	right:5px;
}
.summary .ago {
	max-width:450px;
	white-space:nowrap;
	display:inline-block;
	vertical-align:top
}
.summary .right-box {
	float:right;
	right:20px;
	width:390px;
	height:100%;
	line-height:24px;
	position:relative;
	z-index:1
}
.summary .right1 {
	float:left;
	height:100%;
	width:155px;
	margin-right:15px;
	text-align:right
}
.summary .top {
	line-height:36px;
}
.summary .top span {
	color:#666;
	margin-right:15px;
	display:inline-block;
}
.summary .top b {
	width:88px;
	height:16px;
	background:url(../img/png38.png) no-repeat 0 0;
	display:inline-block;
}
.summary .right1 p {
	color:#666;
}
.summary .right1 i {
	color:#666;
}
.summary .right2 {
	float:left;
	height:100%;
	width:192px;
	padding-left:15px;
	border-left:1px solid #ddd
}
.summary .right2 div {
	line-height:36px;
}
.summary .right2 p {
	line-height:24px;
	position:relative;
}
.summary .right2 p b {
	width:70px;
	height:16px;
	background:url(../img/sprit.png) no-repeat 0 -57px;
	display:inline-block;
}
.summary .right2 p i {
	width:83px;
	height:16px;
	background:url(../img/sprit.png) no-repeat 0 -93px;
	display:inline-block;
	position:absolute;
	top:0;
	left:125px;
}
.summary .leftb {
	width:55px;
	height:56px;
	background:url(../img/sprit.png) no-repeat 0 -111px;
	position:absolute;
	left:-4px;
	top:-4px;
}
.summary .rightb {
	width:150px;
	height:37px;
	background:url(../img/sprit.png) no-repeat 0 0;
	position:absolute;
	right:0;
	top:0;
}
.onbuy h2 {
	margin:0;
	padding-bottom:10px;
	border-bottom:2px solid #bbb;
	font-size:18px;
	font-weight:700;
	color:#666;
	margin-bottom:15px;
}
.onbuy .item {
	padding:20px 0;
	border-bottom:1px solid #eee;
	color:#888
}
.onbuy .item__title {
	width:320px;
	font-size:14px;
	color:#888;
	text-decoration:none;
	display:block;
}
.onbuy .item__title .title {
	color:#333;
	white-space:nowrap
}
.item__duedate>span,.onbuy .item__price>span,.onbuy .item__title>span,.onbuy .item__usetime>span {
	display:block;
	line-height:22px;
	max-height:44px;
	word-break:break-all;
	overflow:hidden
}
.onbuy .type-mark i {
	display:inline-block;
	margin-right:3px;
	vertical-align:text-bottom
}
.onbuy .type-mark {
	display:inline-block;
}
.onbuy .sp-coupon {
	background-image:url(../img/sprit.png);
	background-position:0 -205px;
	width:16px;
	height:16px;
}
.onbuy {
	font-size:12px;
	margin-bottom:30px;
}
.onbuy .item__duedate,.onbuy .item__price,.onbuy .item__title,.onbuy .item__usetime {
	float:left;
	min-height:1px;
	margin-right:30px
}
.onbuy .item__duedate .uix-tooltip,.onbuy .item__price .uix-tooltip,.onbuy .item__title .uix-tooltip,.onbuy .item__usetime .uix-tooltip {
	cursor:default
}
.onbuy img {
	float:left;
	margin-right:20px
}
.onbuy .item {
	padding:20px 0;
	border-bottom:1px solid #eee;
	color:#888
}
.onbuy .item__title .title {
	color:#333;
	white-space:nowrap
}
.onbuy .item__title:hover .title {
	color:#2bb8aa;
	text-decoration:underline
}
.onbuy .item__duedate,.onbuy .item__usetime {
	width:180px
}
.onbuy .item__price {
	width:80px;
	text-align:center;
	position:relative
}
.onbuy .item__btn {
	float:right;
	padding:4px 12px 3px;
	width:53px;
	height:19px;
	background:#2dbfb0;
	text-align:center;
	line-height:19px;
	color:#fff;
}
.onbuy .item:first-child {
	padding-top:5px
}
.onbuy .price,.onbuy .value {
	font-family:arial,sans-serif
}
.btn-small {
	padding:3px 20px;
	*padding:3px 20px 1px;
	font-size:12px
}
.onbuy .price {
	font-size:16px;
	line-height:22px
}
.onbuy .price strong {
	font-size:22px;
	color:#f76120;
}
.onbuy .value {
	text-decoration:line-through
}
.onbuy .sale {
	font-size:12px
}
.onbuy .more-trigger {
	border-top:1px solid #eee;
	clear:both
}
.onbuy .more-trigger a {
	border-top:0
}
.onbuy .type-mark i {
	display:inline-block;
	margin-right:3px;
	vertical-align:text-bottom
}
.onbuy .sp-voucher {
	background-position:0 -169px;
	width:16px;
	height:16px
}
.onbuy .sp-coupon {
	background-position:0 -205px;
	width:16px;
	height:16px
}
.onbuy .sp-nnbooking {
	background-position:0 -75px;
	width:40px;
	height:16px
}
.context {
	width:700px;
}
.poi-section {
	margin-bottom:35px
}
.poi-section .content-title {
	margin:0;
	padding-bottom:10px;
	border-bottom:2px solid #bbb;
	font-size:18px;
	font-weight:700;
	color:#333;
}
.pg-poi .more-deal-trigger {
	margin-bottom:-2em
}
.poi-section .menu__items {
	margin:5px 0 0 -8px
}
.poi-section .menu__pictures {
	margin:15px 0 35px;
	padding-left:10px;
	padding-right:10px
}
.poi-section .menu__pictures .previews .preview {
	width:675px
}
.poi-section--onsale .content-title {
	margin-bottom:15px
}
.poi-section table td {
	border-left:1px solid #eee;
	padding:2px 18px;
	font-size:12px;
	color:#666;
	width:200px
}
.poi-section table td span {
	color:#999
}
.poi-section table td.first {
	border:0
}
.poi-section .hidden {
	display:none
}
.poi-section .rou {
	margin-top:15px;
}
.poi-section .rou li {
	float:left;
	width:128px;
	height:128px;
	border:1px solid #eee;
	text-align:center;
	margin-right:6px;
}
.poi-section .rou li:hover {
	border:1px solid red;
}
.poi-section .rou li a {
	line-height:26px;
	color:#000;
}
.detial .de-left {
	width:275px;
	margin-top:10px;
	text-align:center;
	line-height:24px;
	float:left;
}
.detial .de-right {
	float:left;
	width:420px;
	margin-top:10px;
}
.detial .de-right .sp1 {
	float:left;
}
.detial .de-right .sp2 {
	display:block;
	overflow:hidden;
}
.detial .de-right p {
	line-height:100%;
	padding-bottom:18px;
	color:#666;
}
.detial .de-right span a {
	color:#2bb8aa;
}
.detial .de-right span {
	line-height:18px;
}
.ping .top {
	height:32px;
	border-bottom:1px solid #eee;
	background:#f9f9f9;
}
.ping .top li {
	float:left;
	width:94px;
	text-align:center;
	line-height:32px;
}
.ping .top li a {
	color:#000;
}
.ping .top .li1 {
	background:#eee;
}
.ping .top .li3 {
	float:right;
}
.ping .top .li2 {
	border-right:1px solid #eee;
}
.ping dl {
	margin-top:20px;
	padding-left:10px;
}
.ping dl dt {
	float:left;
	margin-right:15px;
	line-height:22px;
}
.ping dl dd {
	overflow:hidden;
}
.ping dl dd a {
	padding:0 4px;
	border:2px solid #ffebd7;
	height:22px;
	line-height:22px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	color:#FA5D2F
}
.ping .rate {
	margin-top:20px;
}
.ping .rate li {
	padding-bottom:20px;
	border-bottom:1px dotted #eee;
	padding-top:20px;
}
.ping .rate li .pre-left {
	float:left;
	margin-right:10px;
	width:90px;
	text-align:center;
}
.rate li .pre-left .portrait {
	height:50px;
}
.portrait img {
	width:50px;
	height:50px;
	border-radius:2px;
}
.rate li .level {
	margin:8px 0 5px;
}
.rate li .level .username {
	color:#f76120;
	max-width:90px;
	display:inline-block;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	vertical-align:middle;
}
.rate li .level .levelpic {
	width:15px;
	height:15px;
	background:url(../img/level.png) no-repeat 0 -221px;
	display:inline-block;
	line-height:15px;
	vertical-align:bottom;
}
.rate li .pre-right {
	overflow:hidden;
}
.rate li .pre-right .info {
	margin-bottom:10px;
	color:#999;
	line-height:18px;
}
.pre-right .info .xing {
	float:left;
	margin-right:10px;
}
.pre-right .info .xing img {
	margin:3px 0;
	width:60px;
	height:12px;
}
.pre-right .view {
	}.pre-right .view .p1 {
	margin-bottom:10px;
	color:#222;
}
.pre-right .view .userpic a {
	float:left;
	margin-right:13px;
}
.pre-right .p2 a {
	color:#999;
}
.pre-right .p2 {
	padding-top:14px;
}
.yema {
	margin-bottom:160px;
}
.yema .yeul {
	width:600px;
	margin:0 auto;
}
.yema .yeul li {
	padding:0 8px;
	height:20px;
	border:1px solid #eee;
	float:left;
	text-align:center;
	line-height:20px;
	margin:0 5px;
	font-weight:bold;
}
.yema .yeul li a {
	color:#2bb8aa;
}
.hr- {
	height:1px;
	border:1px solid #eee;
	border-left:none;
	border-right:none;
	margin-bottom:24px;
}
.friend {
	padding-bottom:30px;
}
.friend h2 {
	color:#666;
	font-weight:bold;
	font-size:14px;
	line-height:14px;
	padding-bottom:20px;
}
.friend a {
	color:#999;
	display:block;
	line-height:21px;
}
.friend li {
	float:left;
	padding-right:85px;
	margin-left:35px;
}
.friend li a:hover {
	text-decoration:underline;
}
.content .friend li:hover a {
	color:#999;
}
.friend .li1 {
	border-right:1px solid #eee;
}
.friend .li2 {
	padding:0;
	margin:0;
	margin-left:30px;
}
.friend .li2 .a1 {
	width:49px;
	height:45px;
	background:url(../img/png24.png) no-repeat 0 0;
}
.content .friend .li2:hover a {
	color:#666;
}
.friend .li2 a {
	line-height:100%;
	color:#666;
}
.friend .li2 .a2 {
	font-size:14px;
	line-height:24px;
}
.friend .li2 .a3 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:26px;
}
.friend .li2 .a3 span {
	font-size:12px;
	color:#999;
	font-weight:normal;
	padding-left:3px;
}
.friend .li2 .a4 {
	line-height:18px;
}
.friend .lii {
	margin:0;
	margin-left:10px;
}
.footer {
	height:168px;
	border-top:1px solid #ddd;
	background:#f9f9f9;
}
.foot-box {
	width:980px;
	margin:0 auto;
}
.foot-box p {
	margin-top:28px;
	text-align:center;
	color:#999;
}
.foot-box p a {
	color:#999;
}
.foot-box p img {
	margin-right:5px;
}
