@charset "utf-8";
img{vertical-align: top;}
.header{}
/*a:hover{color: #2bb8aa;}*/
.header .head{height: 30px; border-top: 1px solid #eee; border-bottom: 1px solid #ddd; background: #f9f9f9;}
.head .head-box{width: 1170px; margin: 0 auto; line-height: 30px;}
.head .head-box .left-box { padding-left: 17px;}
.head .head-box .left-box a{color: #666;position: relative;margin-right: 15px; float: left;}
.head .head-box .left-box .login{color: #f76120;}
.head .head-box .left-box a span{width: 13px; height: 13px; background: url(../img/png11.png) no-repeat 0 0; position: absolute;top: 9px; left: -17px;}
.head .head-box .left-box .zc{height: 15px; margin-top: 8px; line-height: 100%; border-right: 1px solid #eee; padding-right: 11px;}
.head .head-box .left-box .sj{padding-left: 16px; width: 70px;   }
.head .head-box .left-box .sj .erwei{ display: none; border: 1px solid #ddd; border-top: none; position: absolute;top: 30px; left: -1px; background: #fff; z-index: 1;}
.head .head-box .left-box .sj .erwei p{width: 165px; height: 132px; background: url(../img/png29.png) no-repeat center 30px;border-bottom: 1px dotted #eee;}
.head .head-box .left-box .sj:hover b{width: 6px; height: 3px; background: url(../img/png02-2.png) no-repeat 0 0; position: absolute;top: 14px; right: 6px;}
.head .head-box .left-box .sj .erwei p em{border-left: 2px solid #2bb8aa; padding-left: 5px;margin-left: 10px; line-height: 100%;}
.head .head-box .left-box a i{width: 8px; height: 12px; background: url(../img/png12.png) no-repeat 0 0; position: absolute;top: 9px; left: 0px;} 
.head .head-box .left-box a b{width: 6px; height: 3px; background: url(../img/png02.png) no-repeat 0 0; position: absolute;top: 14px; right: 6px;}
.head .head-box .right li{float: left; padding-right: 22px; padding-left: 12px; position: relative;}
.head .head-box .right li b{width: 6px; height: 3px; background: url(../img/png02.png) no-repeat 0 0; position: absolute;top: 14px; right: 9px;}
.head .head-box .right li span{ height: 12px; border: 1px solid #eee; position: absolute;top: 8px; right: -1px;}
.head .head-box .right .li1{padding-right: 10px;}
.head .head-box .right li a em{color: #f86177; padding: 0 2px; font-family: '楷体'; font-size: 14px;}
.head .head-box .right li .buycar{width: 200px;height: 80px; border: 1px solid #eee;  position: absolute; .: 0; top: 30px; right: 0; z-index: 1; background: #fff; border-top: none;display: none; text-align: center;line-height: 80px;font-size: 12px;}
.head .head-box .right li i{width: 11px; height: 10px; background: url(../img/png01.png) no-repeat 0 0; position: absolute;top: 10px; left: 13px;}
.head .head-box .right li a:hover{color: #2bb8aa;}
.head .head-box .right .li2{padding-left: 22px;}
.head .head-box .right li .mymt{ width: 82px; position: absolute;top: 30px;right: -1px; border: 1px solid #ddd; background: #fff; z-index: 1; text-align: center; display: none; border-top: none;}
.head .head-box .right li .mymt li{padding: 0;float: none;}
.head .head-box .right li .mymt li:hover{background: #f9f9f9;}
.head .head-box .right li:hover b{width: 6px; height: 3px; background: url(../img/png02-2.png) no-repeat 0 0; position: absolute;top: 14px; right: 9px; }
.header .head-con{width: 1170px; margin: 0 auto;}
.head-con .banner{height: 60px; background: url(../img/pic01.jpg) no-repeat 0 0; position: relative;}
.head-con .banner p{cursor: pointer; width: 10px; height: 10px; position: absolute;top: 8px; right: 9px;}
.head-con .con{ height: 84px; margin-top: 21px;}
.head-con .con .con-l{ margin-right: 183px;}
.head-con .con .con-l h1{width: 82px; height: 54px; background: url(../img/png03.png) no-repeat 0 0; margin-right: 10px;text-indent: -999em;}
.head-con .con .con-l .address{}
.head-con .con .con-l .address h2{font-size: 17px; font-family: '宋体'; font-weight: bold; line-height: 30px;}
.head-con .con .con-l .address p{width: 58px; height: 19px;border: 1px solid #eee; text-align: center;line-height: 19px;}
.head-con .con .con-l .address p a{color: #999;}

.head-con .con .con-c{}
.head-con .con .con-c .con-c-top{}
.head-con .con .con-c .con-c-top .con-c-left{width: 421px; height: 38px; border: 2px solid #2db8ad;}
.head-con .con .con-c .con-c-top .con-c-left .teambuy{width: 62px; height: 38px; border-right: 1px solid #ddd;font-size: 14px; text-align: center; line-height: 38px; float: left; position: relative;}
.head-con .con .con-c .con-c-top .con-c-left .teambuy span{width: 6px; height: 3px; background: url(../img/png02.png) no-repeat 0 0; position: absolute;top: 15px; right: 5px;}
.head-con .con .con-c .con-c-top .con-c-left input{width: 353px; height: 38px;padding-left: 5px; color: #757575; font-size: 14px;}
.head-con .con .con-c .con-c-top .seach{width: 63px; height: 42px; background: #2db8ad; font-size: 14px; color: #fff; text-align: center; line-height: 42px;}
.head-con .con .con-c .con-c-top .seach:hover{background: #2ec5b6;}
.head-con .con .con-c ul{padding-top: 14px;}
.head-con .con .con-c ul li{float: left;padding-right: 21px;}
.head-con .con .con-c ul li:hover a{color: #2bb8aa;}

.head-con .con .con-r{padding-top: 9px;}
.head-con .con .con-r p{padding-left: 20px;float: left; position: relative;padding-top: 27px;}
.head-con .con .con-r p span{width: 23px; height: 23px; background: url(../img/png04.png) no-repeat 0 0;position: absolute;top: 0;left: 24px;}
.head-con .con .con-r p b{width: 23px; height: 23px; background: url(../img/png05.png) no-repeat 0 0;position: absolute;top: 0;left: 38px;}
.head-con .con .con-r p i{width: 24px; height: 22px; background: url(../img/png06.png) no-repeat 0 0;position: absolute;top: 0;left: 24px;}

.head-foot{width: 1170px; margin: 0 auto;}
.head-foot .top-nav{height: 40px; }
.head-foot .top-nav .left-nav{width: 231px; background: #00b195;height: 28px; padding-top: 12px; padding-left: 15px;}
.head-foot .top-nav .left-nav a{color: #fff;font-size: 15px;}
.head-foot .top-nav .right-nav{ width: 924px; height: 40px; background: #2bb8aa;}
.head-foot .top-nav .right-nav ul li{padding-left: 27px; padding-right: 19px; float: left; font-size: 16px; font-weight: bold; line-height: 40px;font-family: '宋体';}
.head-foot .top-nav .right-nav ul li a{color: #fff;}
.head-foot .top-nav .right-nav ul li:hover{background: #2ec5b6;}

.head-foot .bottom-nav{}
.head-foot .bottom-nav .left-nav{ width: 244px; border: 1px solid #eee; border-top: none;  background: #fafafa;}
.head-foot .bottom-nav .left-nav ul{ }
.head-foot .bottom-nav .left-nav ul li{ padding: 0 10px;  height: 52px; line-height: 52px; position: relative;}
.head-foot .bottom-nav .left-nav ul li.on{background: #fff;}
.head-foot .bottom-nav .left-nav ul li div{ border-bottom: 1px solid #eee;}
.head-foot .bottom-nav .left-nav ul li div .p1{font-size: 14px; float: left;}
.head-foot .bottom-nav .left-nav ul li div .p1 a{color: #000; font-weight: bold;padding-left: 5px;}
.head-foot .bottom-nav .left-nav ul li div .p2{float: right; padding-right: 19px;}
.head-foot .bottom-nav .left-nav ul li div .p2 a{color: #999; padding-left: 7px;}
.head-foot .bottom-nav .left-nav ul li span{width: 7px; height: 12px; background: url(../img/png13.png) no-repeat 0 0; position: absolute;top: 20px; right: 14px;}
.head-foot .bottom-nav .left-nav ul li b{width: 30px; height: 51px; background: #fff; position: absolute; top: 1px;right: -8px; display: none;}
.head-foot .bottom-nav .left-nav ul li b.on{display: block;}

.sidebar{ position: absolute; z-index: 1;}

.side1{width: 284px; height: 468px; border-right: 1px solid #bdbdc7;border-bottom: 1px solid #bdbdc7;padding-left: 20px; background: #fff; position: absolute; top: 0;left: 246px;}
.side1 h2{font-size: 18px;padding-top: 20px; float: left; padding-right: 70px; color: #333;}
.side1 ul{padding-top: 25px; float: left; padding-right: 40px; }
.side1 ul li{line-height: 24px; }

.side2{width: 150px; height: 468px; border-right: 1px solid #bdbdc7;border-bottom: 1px solid #bdbdc7;padding-left: 20px; background: #fff;position: absolute; top: 0;left: 246px;}
.side2 h2{font-size: 18px;padding-top: 20px; color: #333; }
.side2 ul{padding-top: 25px; float: left; }
.side2 ul li{line-height: 24px; }

.side3 h2{padding-right: 90px;}
.side3 ul{ padding-right: 94px;}

.bottom-nav .con-nav{width: 725px;}
.con-nav .cnav-box{width: 689px; margin: 0 auto;}
.cnav-box .nav1{height: 52px; border-bottom: 1px solid #eee;}
.cnav-box .nav1 ul li{float: left;padding-left: 20px; padding-right: 5px; line-height: 52px;position: relative;}
.cnav-box .nav1 ul li b{width: 12px;height: 15px;background: url(../img/png07.png) no-repeat 0 0;position: absolute;top: 18px;left: 2px;}
.cnav-box .nav1 ul li .a1{color: #999;}
.cnav-box .nav1 ul li .a2{color: #f76120;}
.cnav-box .nav2 ul li b{width: 12px;height: 15px;background: url(../img/png08.png) no-repeat 0 0;position: absolute;top: 18px;left: 2px;}
.cnav-box .nav3 ul li b{width: 12px;height: 15px;background: url(../img/png09.png) no-repeat 0 0;position: absolute;top: 18px;left: 2px;}
.cnav-box .nav2 ul .more{width: 42px; height: 15px; padding: 0;border: 1px solid #eee;margin-top: 15px;line-height: 100%; padding-top: 5px;margin-left: 10px;}
.cnav-box .nav2 ul .more a{padding-top: 6px; padding-left: 5px;}
.cnav-box .nav2 ul .more i{width: 6px; height: 3px; background: url(../img/png02.png) no-repeat 0 0; position: absolute; top: 9px;right: 3px;}
.cnav-box ul li:hover a{color: #2bb8aa;}

.cnav-box .btm-nav{ border-bottom: 1px solid #eee;}
.cnav-box .btm-nav .bl-nav{border-right: 1px solid #eee; width: 344px; padding-top: 10px;}
.cnav-box .btm-nav .bl-nav .bleft{height: 44px; margin-top: 20px; border-right: 1px dotted #eee;margin-bottom: 10px; padding-right: 18px;}
.cnav-box .btm-nav .bl-nav .bleft .p1{font-weight: bold;font-size: 14px; line-height: 24px;padding-bottom: 3px;}
.cnav-box .btm-nav .bl-nav .bleft .p2 a{color: #999; }
.cnav-box .btm-nav .bl-nav span{font-size: 22px; color: #f76120; font-weight: bold; padding-top: 29px;padding-left: 50px}
.cnav-box .btm-nav .br-nav {border: none; }
.cnav-box .btm-nav .br-nav img{padding-left: 10px;}
.cnav-box .btm-nav .br-nav .bleft{padding-left: 10px;}
.cnav-box .btm-nav .br-nav span{padding-left: 30px;}

.right-nav{}
.right-nav .top-nav{ height: 158px; border: 1px solid #eee; border-top: none;}
.right-nav .bottom-nav{ height: 318px; border: 1px solid #eee; border-top: none;}



.content{width: 1170px; margin: 0 auto; }
/*.content ul li:hover a{color: #2bb8aa;}*/
.content ul li h3:hover a{color: #000;}
.content ul li h4:hover a{color: #000;}
.content .buy{ margin-top: 30px;}
.buy .top{height: 48px;}
.buy .top h2{width: 78px; height: 44px; background: url(../img/png14.png) no-repeat 0 0;padding-left: 37px; line-height: 44px; color: #666; }
.buy .top .countdown{width: 210px; height: 41px;border: 1px solid #eee; border-radius: 3px;}
.buy .top .countdown .p1{width: 49px; height: 28px; background: url(../img/png15.png) no-repeat 0 0; margin-top: 6px; margin-left: 5px; margin-right: 5px;}
.buy .top .countdown .time{padding-left: 5px; padding-top: 6px;}
.buy .top .countdown .time p{width: 18px; height: 26px;border: 1px solid #76747b; background: #807d88; float: left; color: #fff;font-size: 14px; text-align: center;line-height: 26px;margin:0 1px;border-radius: 2px;}
.buy .top .countdown .time b{float: left;font-size: 18px;}
.buy ul{border: 1px solid #eee; border-left: none;}
.buy ul li{ width: 216px; border-left: 1px solid #eee; padding-top: 11px; padding-left: 16px;padding-bottom: 16px; float: left;}
.buy ul li h3{font-size: 14px;margin-top: 20px; line-height: 14px;}
.buy ul li .pice{width: 202px; border-bottom: 1px dotted #eee; line-height: 40px; margin-bottom: 12px;}
.buy ul li .pice span{color: #f76120;float: left;}
.buy ul li .pice b{color: #999;float: right;}
.buy ul li p{width: 103px;height: 17px; background: #f76120; color: #fff; }



.content .food{ margin-top: 25px;}
.food .top{height: 48px;}
.food .top h2{width: 78px; height: 44px; background: url(../img/png16.png) no-repeat 0 7px;padding-left: 45px; line-height: 44px; color: #666; }
.food .top .ul-top li{float: left; border-right: 1px solid #eee; padding: 0 10px; font-size: 14px; margin-top: 15px;}
.food .ctext{border: 1px solid #eee; border-left: none; border-bottom: none;}

.food .ctext li{ width: 275px; border-left: 1px solid #eee; padding-top: 11px; padding-left: 16px;padding-bottom: 16px; float: left;}
.food .ctext li h3{font-size: 14px;margin-top: 20px; line-height: 14px;}
.food .ctext li h4{font-size: 14px;line-height: 14px; margin-top: 10px; }
.food .ctext li h4 a{color: #999;}
.food .ctext li .pice{width: 260px; border-bottom: 1px dotted #eee; line-height: 40px; margin-bottom: 12px;}
.food .ctext li .pice span{color: #f76120;float: left;font-size: 18px;}
.food .ctext li .pice b{color: #999;float: right;}
.food .ctext li .pice i{color: #999;float: left; padding-left: 8px;}
.food .ctext li .pice em{text-decoration: line-through;color: #999;float: left;padding-left: 5px;}
.food .ctext li .price{width: 260px;}
.food .ctext li .price p{height: 16px; background: #f76120; color: #fff; text-align: center;float: left; padding-left: 4px; padding-right: 4px;}
.food .ctext li .price img{float: right; padding-right: 9px;}
.food .ctext li .price b{float: right; color: #999;}

.food .ctext1{border-bottom:  1px solid #eee;}



.content .muety{ margin-top: 25px;}
.muety .top{height: 48px;}
.muety .top h2{width: 78px; height: 44px; background: url(../img/png18.png) no-repeat 0 7px;padding-left: 45px; line-height: 44px; color: #666; }
.muety .top .ul-top li{float: left; border-right: 1px solid #eee; padding: 0 10px; font-size: 14px; margin-top: 15px;}
.muety .ctext{border: 1px solid #eee; border-left: none; border-bottom: none;}

.muety .ctext li{ width: 275px; border-left: 1px solid #eee; padding-top: 11px; padding-left: 16px;padding-bottom: 16px; float: left;}
.muety .ctext li h3{font-size: 14px;margin-top: 20px; line-height: 14px;}
.muety .ctext li h4{font-size: 14px;line-height: 14px; margin-top: 10px; }
.muety .ctext li h4 a{color: #999;}
.muety .ctext li .pice{width: 260px; border-bottom: 1px dotted #eee; line-height: 40px; margin-bottom: 12px;}
.muety .ctext li .pice span{color: #f76120;float: left;font-size: 18px;}
.muety .ctext li .pice b{color: #999;float: right;}
.muety .ctext li .pice i{color: #999;float: left; padding-left: 8px;}
.muety .ctext li .pice em{text-decoration: line-through;color: #999;float: left;padding-left: 5px;}
.muety .ctext li .price{width: 260px;}
.muety .ctext li .price p{height: 16px; background: #f76120; color: #fff; text-align: center;float: left; padding-left: 4px; padding-right: 4px;}
.muety .ctext li .price img{float: right; padding-right: 9px;}
.muety .ctext li .price b{float: right; color: #999;}
.muety .mo{height: 48px; background: #f6f6f6; text-align: center;line-height: 48px; font-size: 14px;}



.content .movie{ margin-top: 25px;}
.movie .top{height: 48px;}
.movie .top h2{width: 78px; height: 44px; background: url(../img/png19.png) no-repeat 0 7px;padding-left: 45px; line-height: 44px; color: #666; }
.movie .top .ul-top li{float: left; border-right: 1px solid #eee; padding: 0 10px; font-size: 14px; margin-top: 15px;}
.movie .ctext{border: 1px solid #eee; border-left: none; border-bottom: none;}

.movie .ctext li{ width: 275px; border-left: 1px solid #eee; padding-top: 11px; padding-left: 16px;padding-bottom: 16px; float: left;}
.movie .ctext li h3{font-size: 14px;margin-top: 20px; line-height: 14px;}
.movie .ctext li h4{font-size: 14px;line-height: 14px; margin-top: 10px; }
.movie .ctext li h4 a{color: #999;}
.movie .ctext li .pice{width: 260px; border-bottom: 1px dotted #eee; line-height: 40px; margin-bottom: 12px;}
.movie .ctext li .pice span{color: #f76120;float: left;font-size: 18px;}
.movie .ctext li .pice b{color: #999;float: right;}
.movie .ctext li .pice i{color: #999;float: left; padding-left: 8px;}
.movie .ctext li .pice em{text-decoration: line-through;color: #999;float: left;padding-left: 5px;}
.movie .ctext li .price{width: 260px;}
.movie .ctext li .price p{height: 16px; background: #f76120; color: #fff; text-align: center;float: left; padding-left: 4px; padding-right: 4px;}
.movie .ctext li .price img{float: right; padding-right: 9px;}
.movie .ctext li .price b{float: right; color: #999;}
.movie .mo{height: 48px; background: #f6f6f6; text-align: center;line-height: 48px; font-size: 14px;}

.hotel .top h2{background: url(../img/png20.png) no-repeat 0 7px;}

.live .top h2{background: url(../img/png21.png) no-repeat 0 7px;}

.nice .top h2{background: url(../img/png22.png) no-repeat 0 7px;}

.tip .top h2{background: url(../img/png23.png) no-repeat 0 7px;}

.tip .mo{margin-bottom: 40px;}


.last .fenlei{ width: 910px; border: 1px solid #eee; border-left: none;border-bottom: none; }
.last .fenlei li{width: 90px; height: 23px; border-left: 1px solid #eee; text-align: center; line-height: 23px;background: #f9f9f9;float: left;}
.last .fenlei li.on{background: #eee;}
.last .evebuy{border: 1px solid #eee; padding: 10px;}
.last .evebuy a{display: inline-block; padding: 0 5px; line-height: 16px; overflow: hidden;width: 85px;white-space: nowrap;text-overflow:ellipsis;}
.last{margin-bottom: 20px;}
.last .fenlei li:hover{background: #eee;}
.last .fenlei li:hover a{color: #666;}
.last .eve{padding-bottom: 20px;}
.last .evebuy a:hover{ text-decoration: underline;}

.hr-{height: 1px; border: 1px solid #eee; border-left: none; border-right: none; margin-bottom: 24px;}

.friend{padding-bottom: 30px;}
.friend h2{color: #666; font-weight: bold; font-size: 14px; line-height: 14px; padding-bottom: 20px;}
.friend a{color: #999; display: block; line-height: 21px;}
.friend li{float: left; padding-right: 145px; margin-left: 10px;}
.friend li a:hover{text-decoration: underline;}
.content .friend li:hover a{color: #999;}
.friend .li1{border-right: 1px solid #eee;}
.friend .li2{padding: 0; margin: 0;margin-left: 37px;}
.friend .li2 .a1{width: 49px;height: 45px;background: url(../img/png24.png) no-repeat 0 0;}
.content .friend .li2:hover a{color: #666;}
.friend .li2 a{line-height: 100%; color: #666;}
.friend .li2 .a2{font-size: 14px; line-height: 24px;}
.friend .li2 .a3{font-size: 16px;font-weight: bold; margin-bottom: 26px;}
.friend .li2 .a3 span{font-size: 12px; color: #999; font-weight: normal; padding-left: 3px;}
.friend .li2 .a4 {line-height: 18px;}

.footer{height: 168px; border-top: 1px solid #ddd;background: #f9f9f9;}

.foot-box{width: 1170px; margin: 0 auto;}
.foot-box p{margin-top: 28px; text-align: center;  color: #999;}
.foot-box p a{color: #999;}
.foot-box p img{margin-right: 5px;}

